<div class="placesAndWeather">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-4">
                <div *ngIf="WeatherService.weather.temperatureValue">
                    <app-weather></app-weather>
                </div>
            </div>
            <div class="col-4 places">
                <ul *ngFor="let item of PlacesService.places">
                    <li (click)="getCurrentWeather(item)">
                        <label class="" [ngClass]="{'borderPlace' : (WeatherService.currentPlace.key === item.key)}">{{item.localizedName}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>